// colors
$white: #FFFFFF;
$black: #232323;

// screens
$screen-xxs-min: 321px;
$screen-xs-min: 356px;
$screen-s-min: 551px;
$screen-sm-min: 768px;
$screen-m-min: 1029px;
$screen-l-min: 1281px;
$screen-xl-min: 1441px;
$screen-xxl-min: 1581px;