// colors
$white: #FFFFFF;
$black: #232323;
$gray-edf: #EDF1F7;
$gray-b1b: #B1B1B1;
$gray-f5f: #F5F7FA;
$orange: #FC7900;
$red: #FF4B4A;
$pink: #FF82AC;
$lavender: #718EBF;
$blue: #1814F3;
$dark-blue: #343C6A;
$turquoise: #16DBCC;

// screens
$screen-xxs-min: 321px;
$screen-xs-min: 356px;
$screen-s-min: 551px;
$screen-sm-min: 768px;
$screen-m-min: 1029px;
$screen-l-min: 1281px;
$screen-xl-min: 1441px;
$screen-xxl-min: 1581px;

$main-font: "Inter";
$second-font: "Lato";
$third-font: "Lilita One";